@charset "utf-8";
@import url(reset.css);
@import url(whole.css);
@import url(section.css);
@import url(footer.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@font-face{
	font-family:"jt-font";
	src:url("../font/jt-font.woff") format("woff");
}
body{font-family:'Noto Sans KR', sans-serif; font-size:16px;}
[lang="en"]{font-family:'Titillium Web', sans-serif;}


/********header*******/
header{
	width:100%;
	height:100px;
	position:fixed;
	top:0;
	left:0;
	background-color:#fff;
	padding-left:60px;
	padding-right:60px;
	z-index:500;
}

#h_cover{
	width:100%;
	height:100%;
	line-height:1;
}

.logo{
	width:204px;
	height:37px;
	position:absolute;
	left:60px;
	top:31px;
}

.logo a{
	display:block;
	width:100%;
	height:100%;
}

.logo a img{
	display:block;
	width:100%;
	height:100%;
	object-fit: contain;
    transform: scale(2.5);
}


/***********    nav   ***********/
#nav_cover{
	width:100%;
	line-height:1;
	text-align:center;
}

.nav{
	display:inline-block;
	vertical-align:top;
	box-sizing:border-box;
}

.nav > li{
	float:left;
}

.nav a{
	display:block;
	line-height:1.7;
}

.nav > li > a{
	padding:35px 0 37px;
	position:relative;
	font-size:17px;
	font-weight:600;
	color:#444;
}

.nav > li > a:before,
.nav > li > a:after{
	content:'';
	display:block;
	position:absolute;
}

.nav > li > a:before{
	width:0;
	height:0;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	border:6px solid transparent;
	transition:border-color 0.2s;
}

.nav > li.on > a:before{
	border-bottom-color:#204199;
	transition:border-color 0.4s;
}

.nav > li > a:after{
	width:auto;
	height:2px;
	left:50%;
	right:50%;
	bottom:0;
	background-color:#204199;
	transition:all 0.2s;
}

.nav > li.on > a:after{
	left:0;
	right:0;
	transition:all 0.4s;
}

.nav > li > a > span{
	display:block;
	padding:0 27px;
	position:relative;
}

.nav > li > a > span:after{
	content:'';
	display:block;
	width:1px;
	height:12px;
	position:absolute;
	top:50%;
	margin-top:-6px;
	right:0;
	background-color:#e3e3e3;
}

.nav > li > a > span.none:after{
	display:none;
}


/*********** fulldown ************/
#nav_cover .fulldown{
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	height:0;
	background-color:#fff;
	z-index:100;
	overflow:hidden;
	transition:all 0.4s;
}
#nav_cover .nav:hover + .fulldown,
#nav_cover .fulldown:hover{
	height:272px;
}


#nav_cover .fulldown .full_center{
	width:1044px;
	height:100%;
	margin:0 auto;
	position:relative;
}
#nav_cover .fulldown .full_center .full{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	padding:0 0 58px;
	display:none;
}


/******* fulldown submenu *******/

.full .sub_left{
	float:left;
	width:45%;
	height:100%;
	position:relative;
	background:no-repeat 80.5% bottom;
	text-align:left;
}

.full .sub_left:after{
	content:'';
	display:block;
	width:1px;
	height:100%;
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
	background-color:#ddd;
}

.full .box{
	margin-top:60px;
}
.sub_left strong{
	display:block;
	font-size:28px;
	font-weight:400;
	color:#204199;
}

.sub_left p{
	padding-top:22px;
	font-size:15px;
	font-weight:400;
	line-height:1.7;
	color:#666;
}

.sub_right{
	width:54%;
	height:100%;
	padding-left:69px;
	float:left;
	text-align:left;
	position:relative;
}

.sub_right .list{
	float:left;
	margin-top:50px;
	padding-right:12px;
	width:37%;
}

.sub_right .list_2{
	width:33%;
}

.sub_right .list_3{
	width:30%;
}

.list > li{
	position:relative;
	padding-left:10px;
	padding-bottom:17px;
	
}

.list > li:after{
	content:'';
	display:block;
	position:absolute;
	width:2px;
	height:2px;
	left:0;
	top:13px;
	background-color:#204199;
}

.list > li > a{
	display:block;
	line-height:1.7;
	font-size:16px;
	font-weight:400;
	color:#555;
	transition:all 0.4s;
}

.list > li > a > span{
	padding-bottom:2px;
	position:relative;
	border:1px solid transparent;
	transition:border-color 300ms;
}


.list > li > a:hover{
	color:#204199;
}
.list > li:hover > a > span{
	border-bottom:1px solid #204199;
}

.submenu2 .sub_right .list span.mark:after{
	content:'';
	display:block;
	background-color:skyblue;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:13px;
	opacity:0.3;
}


/******** submenu bg  *****/
.submenu1 .sub_left{
	background-image:url(../images/main/full_down_1.gif);
}
.submenu2 .sub_left{
	background-image:url(../images/main/full_down_2.gif);
}
.submenu3 .sub_left{
	background:url(../images/main/full_down_3.gif) no-repeat 85% bottom;
}
.submenu4 .sub_left{
	background-image:url(../images/main/full_down_4.gif);
}
.submenu5 .sub_left{
	background-image:url(../images/main/full_down_5.gif);
}
.submenu6 .sub_left{
	background:url(../images/main/full_down_6.gif) no-repeat 85% bottom;
}
.submenu7 .sub_left{
	background-image:url(../images/main/full_down_7.gif);
}

/*********     crum     ************/
#crum{
	height:39px;
	position:absolute;
	top:30.5px;
	right:60px;
	z-index:500;
}

.crum_menu{
	display:table;
	height:100%;
}

.crum_menu > li{
	display:table-cell;
	vertical-align:middle;
}

.crum_menu > li > a{
	display:block;
	padding:0 16px;
	position:relative;
	font-size:14px;
	font-weight:400;
	color:#333;
}

.crum_menu > li > a:after{
	content:'';
	display:block;
	width:4px;
	height:4px;
	position:absolute;
	top:50%;
	right:0;
	margin-top:-1px;
	background-color:#000;
	border-radius:50%;
}

.crum_menu > li > a.none:after{
	display:none;
}

/**  messenger **/
.s_messenger{
	height:67px;
	position:fixed;
	bottom:24px;
	right:60px;
	z-index:10;
}

.m_contain{
	float:right;
	height:100%;
}

.m_img{
	width:67px;
	height:100%;
	position:relative;
	background-color:#9dd0f1;
	border-radius:50%;
	overflow:hidden;
}

.m_img img{
	width:120%;
	height:auto;
	padding-right:13px;
	transform:scale(1.4);
}

.m_text{
	float:left;
	margin-right:12px;
	padding:13px 20px;
	position:relative;
	top:50%;
	transform:translateY(-50%);
	background-color:#fefefe;
	border-radius:6px;
	transition:all 0.6s;
}

.m_text a,
.m_text p{
	font-size:14px;
	font-weight:400;
	color:#204199;
}

.m_text a:after{
	content:'';
	display:block;
	width:0;
	height:0;
	border:5px solid transparent;
	border-left-color:#fefefe;
	position:absolute;
	right:-10px;
	top:50%;
	margin-top:-5px;
	transition:all 0.6s;
}




/*

#popup{
	position:fixed;
	z-index:10;
	right:60px;
	bottom:24px;
	height:360px;
	border:1px solid #000;
}

.popup_btn{
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	background-color:#f06479;
	width:67px;
	height:67px;
	text-align:center;
	border-radius:50%;
	padding:20px;
	padding-bottom:80px;
	transition:all 0.4s;
}
*/








/******** main  css *******/
#main .section_inner article{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
}

#main .section_inner article.art1{
	opacity:1;
	background:url(../images/main/main_1.jpg) no-repeat center center /cover;
}
#main .section_inner article.art2{
	opacity:1;
	background:url(../images/main/main_2.jpg) no-repeat center center /cover;
}
#main .section_inner article.art3{
	opacity:1;
	background:url(../images/main/main_3.jpg) no-repeat center center /cover;
}
#main .section_inner article.art4{
	opacity:1;
	background:url(../images/main/main_4.jpg) no-repeat center center /cover;
}

#main .section_inner article:first-child{
	display:block;
}



/*******  text  *************/
.text_box{
	width:1404px;
	height:280px;
	margin:290px auto 36px;
}

.text_box .text{
	margin-left:-0.05em;
	font-size:45px;
	letter-spacing:-0.05em;
	line-height:1.34;
	font-weight:200;
	color:#204199;
	animation:slide_up_text 2s forwards;
}

@keyframes slide_up_text{
	0%{transform:translateY(50px); opacity:0;}
	100%{transform:translateY(0px); opcity:1;}
}


.art1 .text span{
	margin-right:10px;
	letter-spacing:2px;
}

.text_box .t_bottom{
	padding:20px 0 36px;
	font-size:16px;
	line-height:1.75;
	color:#666;
	animation:slide_up_text_2 1.8s 0.8s ease forwards;
	opacity:0;
}

@keyframes slide_up_text_2{
	0%{transform:translateY(50px); opacity:0;}
	100%{transform:translateY(0px); opacity:1;}
}


/********** main_icon ***********/

.main_icon{
	width:1404px;
	margin:0 auto;
}

.main_icon li{
	float:left;
	margin-right:34px;
	opacity:0;
}

.main_icon li:nth-child(1){
	animation:slide_up_icon 2.3s 1.2s forwards;
}
.main_icon li:nth-child(2){
	animation:slide_up_icon 2s 1.4s forwards;
}
.main_icon li:nth-child(3){
	animation:slide_up_icon 2s 1.6s forwards;
}

@keyframes slide_up_icon{
	0%{transform:translateY(50px); opacity:0;}
	100%{transform:translateY(-15px); opacity:1;}
}

.main_icon li img{
	display:block;
	max-width:100%;
	margin:0 auto;
}

.main_icon li span{
	display:block;
	padding-top:14px;
	font-size:12px;
	line-height:1.5;
	font-weight:400;
	text-align:center;
	color:#204199;
}



/********** main_pager *********/
#pager_cover{
	position:absolute;
	left:50%;
	bottom:160px;
	transform:translate(-50%,-50%);
}
.pager{
	width:1404px;
	height:20px;
}

.pager li{
	float:left;
	margin-right:10px;
}

.pager li a{
	display:block;
	border-radius:5px;
	width:10px;
	height:10px;
	background-color:#ccc;
	transition:all 0.6s;
}

.pager li.on a{
	background-color:#E95E71;
	width:30px;
}

/****** popup_btn  ********/
#popup{
	position:fixed;
	right:60px;
	bottom:100px;
	height:360px;
	z-index:200;
}

.popup_btn{
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	background-color:#f06479;
	width:67px;
	height:67px;
	border-radius:50%;
	text-align:center;
	vertical-align:top;
	padding:20px;
	transition:all 0.4s;
}

.popup_btn > span{
	display:block;
	font-size:13px;
	color:#fff;
	font-weight:500;
	line-height:1.2;
	cursor:pointer;
}


.popup_btn span:after{
	content:'';
	display:block;
	background:url(../images/main/btn-circle-close.svg) no-repeat center;
	width:100%;
	height:100%;
	
}

.popup_btn i{
	font-size:20px;
	color:#fff;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%) rotate(90deg);
	transition:all 0.4s;
	cursor:pointer;
	animation:popicon 0.5s forwards;
	display:none;
}

@keyframes popicon{
	0%{transform:translate(-50%,-50%) rotate(90deg);}
	100%{transform:translate(-50%,-50%) rotate(0deg);}
}



.popup_box{
	padding:20px 22px;
	border-radius:10px;
	background-color:#fff;
	overflow:hidden;
	background-color:#fff;
	position:absolute;
	right:0;
	bottom:80px;
	width:216px;
	height:320px;
	box-shadow:10px 12px 27px 0px rgba(0,0,0,0.23);
	trnasform-origin:bottom center;
	display:none;
}


.popup_box > p{
	color:#38b0f4;
	font-size:15px;
	line-height:1.4;
	letter-spacing:-0.05em;
	font-weight:500;
	marign-bottom:45px;
	z-index:9;
}


.popup_box > p > span{
	color:#f06479;
}

.bg_clothes{
	position:absolute;
	top:76px;
	right:-23px;
	animation:clothes 8s linear infinite;
}

@keyframes clothes{
	0%{top:76px; right:-23px;}
	30%{top:65px; right:0px;}
	60%{top:55px; right:-10px;}
	100%{top:80px; right:-20px;}
}

.bg_wave_01{
	position:absolute;
	left:-300px;
	bottom:56px;
	opacity:0.8;
	transform:scale(1.5);
	animation:wave1 30s linear infinite;
}

@keyframes wave1{
	0%{left:-300px;}
	50%{left:0px;}
	100%{left:-300px;}
}

.bg_wave_02{
	position:absolute;
	bottom:60px;
	right:-300px;
	opacity:0.6;
	transform:scale(1.5);
	animation:wave2 30s infinite;
}

@keyframes wave2{
	0%{right:-300px;}
	50%{right:0px;}
	100%{right:-300px;}
}

.bg_bubble{
	position:absolute;
	opacity:0.3;
}

.bg_bubble_01{
	bottom:50px;
	left:10px;
	animation:bubble1 4s linear infinite;
}

@keyframes bubble1{
	0%{bottom:30px; left:10px;}
	30%{bottom:50px; left:10px;}
	60%{bottom:100px; left:25px;}
	80%{bottom:150px; left:10px;}
	100%{bottom:200px; left:25px;}
}

.bg_bubble_02{
	bottom:50px;
	right:80px;
	animation:bubble2 4s linear infinite;
}

@keyframes bubble2{
	0%{bottom:50px; right:80px;}
	35%{bottom:100px; right:60px;}
	75%{bottom:150px; right:80px;}
	100%{bottom:200px; right:60px;}
}

.bg_bubble_03{
	bottom:50px;
	right:30px;
	opacity:0.9;
	animation:bubble3 3s linear infinite;
}

@keyframes bubble3{
	0%{bottom:50px; right:30px;}
	35%{bottom:100px; right:0px;}
	75%{bottom:150px; right:30px;}
	100%{bottom:200px; right:10px;}
}

.bg_bubble_04{
	bottom:50px;
	right:12px;
	animation:bubble4 2.5s linear infinite;
}

@keyframes bubble4{
	0%{bottom:50px; right:12px;}
	35%{bottom:100px; right:-10px;}
	75%{bottom:150px; right:12px;}
	100%{bottom:200px; right:-10px;}
}

.bg_bubble_05{
	bottom:50px;
	left:70px;
	opacity:0.9;
	animation:bubble5 3.5s linear infinite;
}

@keyframes bubble5{
	0%{bottom:50px; left:70px;}
	35%{bottom:100px; left:40px;}
	75%{bottom:150px; left:70px;}
	100%{bottom:200px; left:40px;}
}

.quick-btn{
	display:block;
	background-color:#79c7f4;
	text-align:center;
	border-radius:50px;
	padding:12px;
	width:175px;
	position:absolute;
	transition:all 0.4s;
	cursor:pointer;
	font-size:0;
}

.quick-btn:hover{
	background-color:#3CA0D9;
}

.quick-btn > span{
	color:#fff;
	font-size:15px;
	line-height:1.2;
	font-weight:500;
	letter-spacing:-0.05em;
}

.btn_promtion{
	bottom:154px;
}

.startup{
	bottom:107px;
}

.seminar{
	bottom:60px;
}

.quick_btn_call{
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	background-color:#0084c2;
	width:100%;
	height:46px;
	text-align:center;
	padding:11px 0;
}

.quick_btn_call > span{
	font-size:18px;
	color:#fff;
	line-height:1.3;
}

.quick_btn_call i{
	font-size:18px;
	color:#fff;
	margin-left:-13px;
}

aside{
	position:fixed;
	width:30px;
	height:305px;
	right:30px;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
		transform:translateY(-50%);
	z-index:10;
}

#pager ul{
	width:1px;
	height:100%;
	background-color:#204199;
	position:absolute;
	top:0;
	left:50%;
	transform:translateX(-50%);
}

#pager ul li a{
	display:block;
	width:12px;
	height:12px;
	border-radius:50%;
	background-color:#204199;
	margin-bottom:30px;
	margin-left:-5px;
	position:relative;
}

#pager ul li.on a:after{
	content:'';
	display:block;
	width:20px;
	height:20px;
	border-radius:50%;
	border:1px solid #204199;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}



/********   service_wrap    ********/
#service_wrap{
	width:1400px;
	max-width:1400px;
	margin:100px auto;
	padding-top:100px;
}

#service_wrap .service_top{
	width:100%;
	height:120px;
	margin-bottom:30px;
	position:relative;
}

.main_section_title{
	font-size:45px;
	margin-left:-0.025em;
	letter-spacing:-0.025em;
	line-height:1.33;
	font-weight:200;
	color:#204199;
}

.service_top h3.service_title{
	float:left;
	color:#aaa;
}

.service_top .service_icon{
	position:absolute;
	right:0;
	top:50%;
	transform:translateY(-50%);
}

.service_icon > li{
	float:left;
	padding:0 30px;
	position:relative;
	text-align:center;
}

.service_icon > li:first-child:after{
	content:'';
	display:block;
	width:1px;
	height:76px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-38px;
	background-color:#d8d8d8;
}

.service_icon > li:first-child{
	padding-left:0;
}
.service_icon > li:last-child{
	padding-right:0;
}

.service_icon > li > a{
	font-size:16px;
	color:#204199;
}

.service_icon > li > a > img {
	max-width:100%;
	vertical-align:middle;

}

.service_icon > li > a > span{
	display:block;
	padding-top:10px;
	font-size:16px;
	font-weight:400;
}



.service_bottom{
	width:100%;
	height:477px;
	margin:0 -12px;
	position:relative;
}

.service_bottom .service_news{
	float:left;
	height:100%;
	padding:0 12px;
	position:relative;
	width:25.2%;
}

.news_slider{
	width:100%;
	height:100%;
	background-color:#fff;
}

.news_slider .news{
	display:none;
	height:100%;
	width:100%;
	padding:78px 39px 31px;
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:1;
}

.news:first-child{
	display:block;
}

.news span.news_name{
	display:inline-block;
	padding-left:0.2em;
	position:absolute;
	top:27px;
	right:41px;
	font-size:14px;
	letter-spacing:0.2em;
	line-height:2;
	color:#e95e71;
	border-bottom:1px solid #e95e71;
}

.news h4.news_title{
	font-size:30px;
	font-weight:300;
	line-height:1.27;
	letter-spacing:-0.025em;
	color:#222;
	overflow:hidden;
	text-overflow:ellipsis;/*말줄임*/
	display: -webkit-box;/*상자가 가로로 정렬*/
	-webkit-line-clamp:3;/*두줄이상 말줄임라인수 */
	-webkit-box-orient:vertical;/*상자 세로 정렬*/
	max-height:3.81em;/*max-height으로 아래 말줄임 높이 제한 line-height 3배*/
}

.news span.news_title_line{
	display:block;
	width:32px;
	height:1px;
	margin:26px 0 30px;
	background-color:#204199;
}

.news p.news_content{
	font-size:16px;
	line-height:1.75;
	color:#666;
	overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp:4;
	-webkit-box-orient:vertical;
	max-height:7em;
}


.service_news #news_np{
	margin:0;
	position:absolute;
	left:22px;
	bottom:8px;
}

#news_np .n_btn{
	width:75px;
	height:67px;
	position:relative;
	float:left;
}

.n_btn span{
	font-size:16px;
	font-weight:bold;
	color:#aaa;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	cursor:pointer;
	transition:all 0.3s;
}

.n_btn span:hover{
	color:#204199;
}

.news_prev:after{
	content:'';
	display:block;
	position:absolute;
	top:50%;
	right:0;
	width:1px;
	height:30px;
	margin-left:-0.5px;
	margin-top:-15px;
	background-color:#ddd;
}


/********** service_seminar  ***********/

#seminar{
	width:25.2%;
	float:left;
	height:100%;
	padding:0 12px;
	position:relative;
}

#seminar .seminar_box{
	padding:27px 29px;
	position:relative;
	height:calc(50% - 10px);
	background:url(../images/service/seminar_bg.jpg) no-repeat  center center /cover;
}

#seminar .sb_1{
	margin-bottom:20px;
}

.seminar_box h4{
	font-size:25px;
	font-weight:300;
	line-height:1.4;
	color:#fff;
	letter-spacing:-1px;
}

.seminar_date{
	width:calc(100% - 58px);
	position:absolute;
	left:29px;
	bottom:30px;
}

.seminar_date > ul > li{
	margin-bottom:10px;
}

.seminar_date > ul > li > strong{
	display:block;
	width:45px;
	margin-right:5px;
	padding:4px 0;
	font-size:15px;
	font-weight:400;
	text-align:center;
	color:#204199;
	background-color:#fff;
	border-radius:3px;
	float:left;
}

.seminar_date > ul > li > span{
	font-size:18px;
	font-weight:300;
	color:#fff;
}

.request{
	display:block;
	width:70px;
	height:70px;
	position:absolute;
	right:0;
	bottom:0;
	font-size:16px;
	font-weight:400;
	letter-spacing:0.1em;
	text-align:center;
	color:#204199;
	background-color:#fff;
	transition:all 0.2s;
	box-sizing:border-box;
}

.request:hover{
	border:4px solid #204199;
}

.request > span{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	white-space:nowrap;
}


/***** service banner ******/
#service_banner{
	width:49.6%;
	float:left;
	height:100%;
	padding:0 12px;
	position:relative;
}

.banner_slider{
	width:100%;
	height:100%;
	position:relative;
}

.banner_slider > .content{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	display:none;
}

.content:first-child{
	display:block;
}


.content .issue{
	position:absolute;
	top:22px;
	right:29px;
	font-size:14px;
	letter-spacing:0.2em;
	line-height:2;
	color:#fff;
	border-bottom:1px solid rgba(255,255,255,0.44);
	cursor:pointer;
}


.b_content1{
	background:url(../images/service/banner_1.jpg) no-repeat center center /cover;
}
.b_content2{
	background:url(../images/service/banner_2.jpg) no-repeat center center /cover;
}
.b_content3{
	background:url(../images/service/banner_3.jpg) no-repeat center center /cover;
}
.b_content4{
	background:url(../images/service/banner_4.jpg) no-repeat center center /cover;
}
.b_content5{
	background:url(../images/service/banner_5.jpg) no-repeat center center /cover;
}
.b_content6{
	background:url(../images/service/banner_6.jpg) no-repeat center center /cover;
}
.b_content7{
	background:url(../images/service/banner_7.jpg) no-repeat center center /cover;
}
.b_content8{
	background:url(../images/service/banner_8.jpg) no-repeat center center /cover;
}
.b_content9{
	background:url(../images/service/banner_9.jpg) no-repeat center center /cover;
}
.b_content10{
	background:url(../images/service/banner_10.jpg) no-repeat center center /cover;
}


.content_center{
	width:100%;
	height:220px;
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
	text-align:center;
}

.content_center a{
	font-size:16px;
	color:#204199;
	text-align:center;
}

.content_center a .typo{
	display:inline-block;
	padding-bottom:3px;
	margin-bottom:23px;
	font-size:18px;
	font-weight:600;
	line-height:1.44;
	color:#fff;
	position:relative;
}

.typo:after{
	content:'';
	display:block;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	bottom:0;
	background-color:rgba(255,255,255,0.4);
}

.content_center h4{
	font-size:40px;
	font-weight:300;
	line-height:1.2;
	letter-spacing:-0.05em;
	color:#fff;
}

p.issue_desc{
	margin-top:16px;
	font-size:16px;
	line-height:1.75;
	font-weight:300;
	color:#fff;
}

.section_inner .banner_pager{
	line-height:1;
	position:absolute;
	bottom:30px;
	left:25px;
}

.banner_pager li{
	float:left;
	margin:0 4px;
}

.banner_pager li a{
	display:block;
	width:10px;
	height:10px;
	border-radius:5px;
	background-color:#fff;
	transition:all 0.8s;
}

.banner_pager li.on a{
	background-color:#e95e71;
	width:30px;
}







































