@charset "utf-8";

*{margin:0;padding:0;border:0;box-sizing:border-box;}

ul,li {list-style:none;}

	a {text-decoration:none; color:#000;}
	img {border:0;}
	
.cf:after{
	content:'';
	display:block;
	clear:both;
}

body{
	overflow:hidden;
	-moz-user-select: none;

	-webkit-user-select: none;

	-ms-user-select: none;

	user-select: none;
}

input, textarea {

 

	-moz-user-select: auto;
	
	-webkit-user-select: auto;
	
	-ms-user-select: auto;
	
	user-select: auto;
	
	 
	
	}

#wrap{
	width:100%;
}

#mainSeciton{
	overflow:auto;
}