@charset "utf-8";



/******** mainSection     ***********/
.section{
	position:absolute;/*부모요소가 위치값이 없다면 html요소인 body를 기준*/
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	transform:translate3d(0,0,0);
	transition:800ms;
}

.section_inner{
	width:100%;
	height:100%;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	transition:800ms;
	overflow:hidden;
	position:relative;
	top:0;
	left:0;
}

.que{
	transform:translate3d(0,100%,0);
}
.active{
	transform:translate3d(0,0,0);
}
.prev{
	transform:translate3d(0,-100%,0);
}

.prev .section_inner{
	opacity:1;
}

.bounce{
	transition:300ms;
}




/********  service  css     *********/
#service .section_inner{
	background:url(../images/section/service_bg.jpg) no-repeat center center /cover;
}


#equip .section_inner{
	background:url(../images/section/bg1.jpg) no-repeat center center /cover;
}

#active .section_inner{
	background:url(../images/section/bg2.jpg) no-repeat center center /cover;
}

#customer .section_inner{
	background:url(../images/section/bg3.jpg) no-repeat center center /cover;
}

#community .section_inner{
	background:url(../images/section/bg4.jpg) no-repeat center center /cover;
}

#sns .section_inner{
	background:url(../images/section/bg5.jpg) no-repeat center center /cover;
}

#tip .section_inner{
	background:url(../images/section/bg4.jpg) no-repeat center center /cover;
}
